# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.orig
*.log
npm-debug.log.*
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Espresso
*.esproj
*.espressostorage

# Rubinius
*.rbc

# Misc. Folders to ignore
.hg
.svn
.CVS
.idea

# Ignore node/bower dependencies
/node_modules
public_html/bower_components

# Ignore Gulp Browser-Sync Local Config
gulp/.vhost
